@import '../../../scss/style.scss';

.header_wrap {
    display: flex;
    flex-direction: column;
    padding: 15px 0 12px 0;
    background: $white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition-duration: 0.5s;

    @include media(768px){
        padding: 17px 0 12px 0;
    }

    &.sticky {
        padding: 10px 0 10px 0;
    }
    
    .container {
        align-items: center;
        justify-content: space-between;
    }
}