@import '../../../scss/style.scss';

.header_wrap {
    display: flex;
    flex-direction: column;
    padding: 15px 0 12px 0;

    @include media(768px){
        padding: 17px 0 12px 0;
    }
    
    .container {
        align-items: center;
        justify-content: space-between;
    }
}