@import '../../../scss/style.scss';

.course_details {
    padding: 40px 0 0 0;

    @include media(992px){
        padding: 89px 0 0 0;
    }

    .container {
        flex-direction: column;
    }

    h3 {
        font-family: $secondary-font;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 1.36px;
        text-align: left;
        color: $black;
        width: 100%;

        @include media(992px){
            font-size: 68px;
        }
    }

    h4 {
        font-family: $primary-font;
        font-size: 21px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.28;
        letter-spacing: normal;
        text-align: left;
        color: $black;
        padding-top: 20px;
        margin-bottom: 0px;

        @include media(992px){
            font-size: 36px;
            margin-bottom: 60px;
        }
    }

    .row {
        align-items: center;
    }

    .fifty_percent {
        width: 100%;
        margin-top: 30px;
        padding: 0 15px;

        @include media(768px){
            width: 50%;
        }

        &.text_wrap {
            
            @include media(768px){
                padding-left: 30px;
            }

            @include media(1200px){
                padding-left: 176px;
            }
        }

        img {
            max-width: 578px;
        }

        p {
            font-family: $primary-font;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.44;
            letter-spacing: normal;
            text-align: left;
            color: $black;
            padding-bottom: 15px;
        }

        .btn_primary {
            margin-top: 15px;
            padding: 15px 45px;
            width: 100%;

            @include media(480px){
                width: auto;
            }
        }

        .video_icon {
            position: relative;

            button {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 93px;
                height: 93px;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;

                @include media(768px){
                    width: 191px;
                    height: 191px;
                }
            }
        }
    }

    .link_boxes {
        margin-left: -15px;
        margin-right: -15px;
        position: relative;
        top: 107px;
        margin-top: -35px;

        @include media(768px){
            top: 118px;
            margin-left: -24px;
            margin-right: -24px;
            margin-top: 0;
        }

        .col_3 {
            width: 100%;
            padding: 0 15px;
            margin-bottom: 41px;

            @include media(768px){
                width: 33.33%;
                padding: 0 24px;
                margin-bottom: 0;
            }

            a {
                background-color: $primary-color;
                float: left;
                width: 100%;
                transition-duration: 0.3s;
                position: relative;

                &:hover {
                    padding: 6px;
                }

                h5 {
                    font-family: $proxima-bold;
                    font-size: 20px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.06;
                    letter-spacing: 0.54px;
                    text-align: center;
                    color: $white;
                    position: absolute;
                    text-decoration: none;
                    left: 0;
                    bottom: 34px;
                    right: 0;
                    text-align: center;

                    br {
                        display: none;

                        @include media(768px){
                            display: block;
                        }
                    }

                    @include media(768px){
                        font-size: 25px;
                    }

                    @include media(1200px){
                        font-size: 36px;
                    }
                }
            }
        }
    }
    
}