@import '../../../scss/style.scss';

.testimonial_carousel {
    background: url('/images/section-bg.png') left top no-repeat;
    background-size: cover;
    padding: 58px 0 0 0;

    .container {
        flex-direction: column;
    }

    h4 {
        font-family: $secondary-font;
        font-size: 36px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 1.36px;
        text-align: center;
        color: $white;
        width: 100%;
        max-width: 280px;
        margin: 0 auto;

        @include media(992px){
            font-size: 68px;
            max-width: 100%;
            line-height: 1;
        }
    }

    .carousel_wrap {
        position: relative;
        max-width: 100%;
        margin: 30px auto;

        @include media(992px){
            top: 50px;
            margin-top: 0 ;
            max-width: 1100px;
            padding: 0 45px;
        }
    }

    .swiper_slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include media(992px){
            flex-direction: row;
        }
        
        .image_wrap {
            width: 60%;
            max-width: 353px;

            @include media(992px){
                width: 40%;
            }
        }

        .text_wrap {
            position: relative;
            top: 0px;
            margin-top: 30px;

            @include media(992px){
                top: -29px;
                margin-left: 66px;
                margin-top: 0;
            }

            p {
                font-family: $primary-font;
                font-size: 18px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: normal;
                text-align: center;
                color: $white;
                max-width: 273px;
                

                @include media(768px){
                    font-size: 24px;
                    max-width: 363px;
                }

                span {
                    font-size: 18px;
                    display: block;
                    font-weight: normal;
                    padding-top: 5px;
                }

                @include media(992px){
                    text-align: left;
                }
            }
        }
    }

    .left_button {
        width: 13px;
        height: 30px;
        background: none;
        padding: 0;
        border: none;
        outline: none;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translate(-50%);
        cursor: pointer;
        z-index: 99;

        @include media(768px){
            top: 40%;
            width: 18px;
            height: 47px;
        }
    }

    .right_button {
        width: 13px;
        height: 30px;
        background: none;
        padding: 0;
        border: none;
        outline: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-50%);
        cursor: pointer;
        z-index: 99;

        @include media(768px){
            top: 40%;
            width: 18px;
            height: 47px;
        }
    }
}